@charset "UTF-8";
/* CSS Doc */

/*Image Hover 
img {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

/*other thing*/
#projects {
	position: absolute;
	top: 57%;
	left: 53%;
	border: 2px solid #FF0000;
	z-index: 3;

}

#mood {
	position: absolute;
	top: 61%;
	left: 56%;
	border: 2px solid #FF0000;
	z-index: 3;

}

#info {
	position: absolute;
	top: 53%;
	left: 50%;
	border: 3px solid #FF0000;
	z-index: 3;
}

/*Bumper move code*/

.circle {
    float: left;
    width: 160px;
    height: 240px;
    content:url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/PlayStation-Move-in-Hand.jpg/170px-PlayStation-Move-in-Hand.jpg);
}

.bumper {
    position: absolute;
    top: 7%;
    left: 50%;
    padding: 32px;
    overflow: auto;
    outline: 1px;
}

.circle2 {
    float: left;
    width: 200px;
    height: 280px;
    content:url(http://pic.chinasspp.com/News/Img/20140513/13999480463957212.jpg);
}

.bumper2 {
    position: absolute;
    top: 11%;
    left: 48%;
    padding: 32px;
    overflow: auto;
    outline: 1px;
}

.circle3 {
    float: left;
    width: 210px;
    height: 290px;
    content:url(https://s-media-cache-ak0.pinimg.com/564x/72/a0/c8/72a0c88f5d6d6cf51e8dfb1f3e5c2d5c.jpg);
}

.bumper3 {
    position: absolute;
    top: 13%;
    left: 46%;
    padding: 32px;
    overflow: auto;
    outline: 1px;
}

.circle4 {
    float: left;
    width: 210px;
    height: 290px;
    content:url(https://i-d-images.vice.com/images/articles/meta/2014/09/26/young-designer-yang-li-creates-for-the-skater-in-all-of-us-1411748417.jpg);
}

.bumper4 {
    position: absolute;
    top: 23%;
    left: 51%;
    padding: 32px;
    overflow: auto;
    outline: 1px;
}

body {
	font-family: 'Courier', sans-serif;
	font-weight: 500;
	letter-spacing:8px;
	color: white;
	}

#header { 
	filter: alpha(opacity=90);
	opacity: 0.9;
	position: relative; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	width: 100%;  
	/*background: #000;*/
	padding: 0px;
	margin: 0px;
	text-align: right;
}

#header_content { 
	font-size: 4px;
	margin: 0;
	padding: 15px 20px 15px 15px;

}

#container {
	/*opacity: 0.7;*/
	text-align: center;
	position:absolute;
    left:50%;
    top:50%;
	/*background-color: #000;*/
    margin: -10px 0 0 -40px;
	padding: 20px;
	font-size: 18px;
	z-index: 999;
	mix-blend-mode: difference;
}

#float {
	position: fixed;
	left: 0;
	bottom: 0;
}

a:link { 
	font-size: 15px;
	color: #0A1400;
	text-decoration: none;
}

a:visited { 
	font-size: 15px;
	color: #0A1400;
	text-decoration: none;
}

a:active { 
	font-size: 15px;
	color: #0A1400;
	text-decoration: none;
}

a:hover { 
	font-size: 15px;
	color: #0A1400;
	text-decoration: none;
}

/*HEATMAP CSS*/

#heatmapContainerWrapper { width:100%; height:100%; position:absolute; }
      
#heatmapContainer { width:100%; height:100%;}

/*HEATMAP CSS*/


